<!DOCTYPE html>
<html lang="en">
{{include './partials/header.html'}}

<body>
  <!-- 头部导航栏 -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">展开导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">极简博客</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index">首页</a></li>
        <li><a href="#">新随笔</a></li>
        <li><a href="#">联系</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">管理</a></li>
            <li class="divider"></li>
            <li><a href="#">管理</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>


  <div class='container'>
    
    <h2 style='text-align: center'>{{results.title}}</h2>
    <article>{{results.editorValue}}</article>
   
  </div>
  
</body>

</html>